@import url('https://fonts.googleapis.com/css2?family=Alata&family=Raleway:wght@200&family=Satisfy&display=swap');

.App {
  margin: 0;
}

#rest-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 3% 97%;
}

#maps-container {
  /* border: solid green; */
  height: 100vh;
}

#safe-eats {
  display: grid;
  grid-template-columns: 65% 35%;
}

#search {
  height: 100%;
  width: 100%;
}

#results {
  overflow: auto;
}

#title {
  /* top: 10px; */
  left: 30px;
  position: absolute;
  z-index: 2;
  font-size: 40px;
  letter-spacing: 5px;
  font-family: 'Satisfy', cursive;
}

#search-objs {
  display: flex;
}

#locate {
  width: 200px;
}