@import url('https://fonts.googleapis.com/css2?family=Alata&family=Raleway:wght@200&family=Satisfy&display=swap');

.rest {
    border-bottom: solid 1px black;
    margin: 0px;
    padding: 20px;
}

.covid-rating {
    color:#a40000;
    font-family: 'Raleway', sans-serif;
}

.rest-name {
    font-family: 'Alata', sans-serif;
}

.rating {
    font-family: 'Raleway', sans-serif;
}